pkgbase = ros2-humble
	pkgdesc = Robot Operating System 2 Humble Hawksbill
	pkgver = 2024.12.0
	pkgrel = 1
	url = https://docs.ros.org/en/humble/
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = git
	makedepends = python-colcon-common-extensions
	makedepends = python-rosdep
	makedepends = python-vcstool
	makedepends = python-catkin_pkg
	makedepends = python-empy
	depends = python
	depends = python-pip
	depends = python-setuptools
	depends = python-wheel
	depends = python-numpy
	depends = python-yaml
	depends = python-lark
	depends = cmake
	depends = make
	depends = gcc
	depends = tinyxml2
	depends = eigen
	depends = console_bridge
	depends = openssl
	depends = spdlog
	depends = assimp
	depends = bullet
	depends = qt6-base
	depends = ogre
	optdepends = python-argcomplete: command completion
	optdepends = rviz2: visualization
	optdepends = gazebo: simulation
	source = git+https://github.com/ros2/ros2.git#tag=release-humble-20241205
	sha256sums = SKIP

pkgname = ros2-humble
